
<div class="row profile">
<div class="col-sm-3"></div>
  <div class="col-sm-6">
    <rd-widget>
    <rd-widget-header icon="fa-users" title="Pundits">
    <input type="text" ng-model="vm.q" class="form-control input-sm" placeholder="Search">
  </rd-widget-header>
  <rd-widget-body classes="medium no-padding">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
         <th><a href="" ng-click="orderByField='username'; reverseSort = !reverseSort">Username</a></th>
         <th><a href="" ng-click="orderByField='rating'; reverseSort = !reverseSort">Current Rating</a></th>
         <th><a href="" ng-click="orderByField='rating'; reverseSort = !reverseSort">Subscribed</a></th>
       </tr>
     </thead>
     <tbody dir-paginate="pundit in vm.pundits | filter:vm.q | itemsPerPage: 6 | orderBy:orderByField:reverseSort" ui-sref="user.punditProfile({punditId: pundit.id})">
      <tr>
        <td>{{pundit.username}}</td>
        <td>{{pundit.rating}}</td>
        <td ng-if="pundit.isSubscribed"><i class="fa fa-check"></i></td>
        <td ng-if="!pundit.isSubscribed"><i class="fa fa-times"></i></td>
      </tr>
    </tbody>
  </table>
</div>
</rd-widget-body>
<div ng-controller="vm.paginationController">
  <div class="text-center">
    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="partials/pagination/dirPagination.tpl.html"></dir-pagination-controls>
  </div>
</div>
</rd-widget>
</div>
<div class="col-sm-3"></div>

</div>
