 <div ng-if="!vm.loading" class="row">

  <div class="col-sm-6">

    <h4><u>{{vm.punditName}}</u></h4>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="(key,value) in vm.punditOverview"> {{key}} {{value}}</li>
    </ul>


    <a class="btn btn-success" ng-if="!vm.subscribed" ng-click="vm.alterSubscription()"><i class="fa fa-eye"></i>Subscribe</a>
    <a class="btn btn-danger" ng-if="vm.subscribed" ng-click="vm.deleteSubscription()"><i class="fa fa-eye"></i>Unsubscribe</a>
  </div><!--/row-->

</div>


