  <div class="row">
    <div class="col-md-6 col-lg-6">
      <u> Event/Market Details</u>
          <table>
           <tr ng-repeat="(key, value) in vm.event.meta_data">
            <td>{{key}}&nbsp;&nbsp; </td> <td> {{value}}</td>
           </tr>
          </table>
    </div>

      <div class="col-md-6 col-lg-6">
        <div>
          <h4><a ui-sref="user.punditProfile({punditId: vm.event.pundit.id})">Pundit &nbsp;&nbsp; {{vm.event.pundit.username}}</a></h4>
          <div ng-if="vm.event.comment" class="well">{{vm.event.comment}}</div>
        </div>
      </div>

  </div>

  <hr>

  <div class="row">
   <div class="col-md-6 col-lg-6" ng-if="vm.event.runnerdata">
      <u> Runner Details</u> <img ng-src="{{vm.event.colorSrc}}"/>
          <table>
            <tr ng-repeat="(key, value) in vm.event.runnerdata">
                <td>{{key}}&nbsp;&nbsp; </td> <td> {{value}}</td>
            </tr>
          </table>
   </div>
   <div class="col-md-6 col-lg-6" ng-if="vm.event.pricedata">
      <u> Price Details</u>
          <table>
            <tr ng-repeat="(key, value) in vm.event.pricedata">
                <td>{{key}}&nbsp;&nbsp; </td> <td> {{value}}</td>
            </tr>
          </table>
   </div>
  </div>

 </div>
