<div class="container-fluid">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-6">
                <img ng-src="{{horse}}"class="img-responsive img-rounded"  alt="Horses Racing">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>Better Trading</h1>
                <p>A platform which allows users to follow sports pundits and subscribe to their tips.
                Users can view each pundits past performance, statistics and history, providing a valuable track record and confidence in their results.
                </p>
                <a class="btn btn-primary" ui-sref="preAuth.register">Register!</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Track specific tipsters and recieve only the information you require!
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-5">
                <h4>Register As User</h4>
                <p>Register as a user and track information, tips, live changes in betting odds for published events, and a transparent history of all past published information.</p>
            </div>
            <div class="col-md-2"></div>
            <!-- /.col-md-6 -->
            <div class="col-md-5">
                <h4>Register As A Sports Pundit</h4>
                <p>Registering as a pundit allows you to push out information to followers and track your performance, view your return on investment and track price data for all events.</p>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Philip Gough 2016</p>
                </div>
            </div>
        </footer>

    </div>



