<div class="col-md-6 col-md-offset-3">
<div class="well well-lg">
    <h2>Register</h2>
    <form name="form" ng-submit="vm.register()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="username">First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label for="username">Last name</label>
            <input type="text" name="lastName" id="Text1" class="form-control" ng-model="vm.user.lastName" required />
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email">Email</label>
            <input type="email" name="email" ng-model="vm.user.email" id="email" class="email form-control" required />
            <span ng-show="form.email.$dirty && form.email.$error.required">This is a required field</span>
            <span ng-show="form.email.$dirty && form.email.$invalid">This field is invalid </span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password2.$dirty && form.password2.$error.required }">
            <label for="password2">Re-Enter Password</label>
            <input type="password" name="password2" id="password2" class="form-control" ng-model="vm.user.password2" required />
            <span ng-show="form.password2.$dirty && form.password2.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-group">
            <label for="pundit">Register as Pundit!</label>
            <input type="checkbox" name="pundit" class="form-control" ng-model="vm.user.pundit">
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
            <a href="#/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
</div>
