<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon green pull-left">
          <i class="fa fa-users"></i>
        </div>
        <div class="title">80</div>
        <div class="comment">Subscribers</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon red pull-left">
          <i class="fa fa-tasks"></i>
        </div>
        <div class="title">16</div>
        <div class="comment">Servers</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon orange pull-left">
          <i class="fa fa-sitemap"></i>
        </div>
        <div class="title">225</div>
        <div class="comment">Documents</div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <div class="widget-icon blue pull-left">
          <i class="fa fa-star"></i>
        </div>
        <div class="title">{{vm.userRating}}</div>
        <div class="comment">Current Rating</div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <rd-widget>
          <rd-widget-header icon="fa-calendar" title="Events">
          </rd-widget-header>
          <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table table-hover">
          <thead>
              <tr>
                <th><a href="" ng-click="orderByField='event'; reverseSort = !reverseSort">Event</a></th>
                <th><a href="" ng-click="orderByField='time'; reverseSort = !reverseSort">Start Time</a></th>
                <th><a href="" ng-click="orderByField='startTime'; reverseSort = !reverseSort">Market</a></th>
                <th><a href="" ng-click="orderByField='selection'; reverseSort = !reverseSort">Selection</a></th>
                <th><a href="" ng-click="orderByField='state'; reverseSort = !reverseSort">Result</a></th>
              </tr>
          </thead>
            <tbody ng-repeat="event in vm.fltrEvents | orderBy:orderByField:reverseSort" ng-click="vm.show(event)">
              <tr>
                    <td>{{event.event}}</td>
                    <td>{{event.startTime}}</td>
                    <td>{{event.market}}</td>
                    <td>{{event.selection}}</td>
                    <td>{{event.state}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-users" title="Users">
        <input type="text" placeholder="Search" class="form-control input-sm" />
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr><th class="text-center">ID</th><th>Username</th><th>Role</th><th>Account</th></tr>
            </thead>
            <tbody>
              <tr><td class="text-center">1</td><td>Joe Bloggs</td><td>Super Admin</td><td>AZ23045</td></tr>
              <tr><td class="text-center">2</td><td>Timothy Hernandez</td><td>Admin</td><td>AU24783</td></tr>
              <tr><td class="text-center">3</td><td>Joe Bickham</td><td>User</td><td>AM23781</td></tr>
            </tbody>
          </table>
            </div>
      </rd-widget-body>
    <rd-widget>
  </div>
</div>

